@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/logo/logo.css);
@import url(../blocks/header/logo/_place_header/place_header.css);
@import url(../blocks/header/__title/header__title.css);
@import url(../blocks/header/__subtitle/header__subtitle.css);
@import url(../blocks/header/__illustration/header__illustration.css);
@import url(../blocks/header/__square-plc/header__square-plc.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/content/description/description.css);
@import url(../blocks/content/description/two-columns/two-columns.css);
@import url(../blocks/content/description/two-columns/__brief/two-columns__brief.css);
@import url(../blocks/content/description/two-columns/__main-text/two-columns__main-text.css);
@import url(../blocks/content/description/two-columns/__brief/_sett_text/two-columns__brief_sett_text.css);
@import url(../blocks/content/description/two-columns/__paragraph/two-columns__paragraph.css);
@import url(../blocks/content/description/two-columns/__paragraph/_sec_one/two-columns__paragraph_sec_one.css);
@import url(../blocks/content/description/two-columns/__paragraph/__marginTB/two-columns__paragraph__marginTB.css);
@import url(../blocks/content/description/two-columns/__paragraph/_sec_one/_three_sett_text/two-columns__paragraph_sec_one-three_sett_text.css);
@import url(../blocks/content/description/two-columns/__paragraph/_sec_two/two-columns__paragraph_sec_two.css);
@import url(../blocks/content/description/two-columns/__paragraph/_sec_two/__marginTB/two-columns__paragraph_sec_two__marginTB.css);
@import url(../blocks/content/description/two-columns/__paragraph/_sec_two/_span_text/two-columns__paragraph_sec_two_span_text.css);
@import url(../blocks/content/description/two-columns/__paragraph/_sec_three/two-columns__paragraph_sec_three.css);
@import url(../blocks/content/digits/digits.css);
@import url(../blocks/content/digits/section-title/section-title.css);
@import url(../blocks/content/digits/section-subtitle/section-subtitle.css);
@import url(../blocks/content/digits/table/table.css);
@import url(../blocks/content/digits/section-title/__sett/section-title__sett.css);
@import url(../blocks/content/digits/section-subtitle/__sett/section-subtitle__sett.css);
@import url(../blocks/content/digits/table/__cell/table__cell.css);
@import url(../blocks/content/digits/table/__heading/table__heading.css);
@import url(../blocks/content/digits/table/__heading/__title/table__heading__title.css);
@import url(../blocks/content/digits/table/__text/table__text.css);
@import url(../blocks/content/digits/table/__text/__subtitle/table__text__subtitle.css);
@import url(../blocks/content/feyman/feyman.css);
@import url(../blocks/content/feyman/__title/feynman__title.css);
@import url(../blocks/content/feyman/__title/__sett/feynman__title__sett.css);
@import url(../blocks/content/feyman/__subtitle/feynman__subtitle.css);
@import url(../blocks/content/feyman/__subtitle/__sett/feynman__subtitle__sett.css);
@import url(../blocks/content/feyman/__link/feynman__link.css);
@import url(../blocks/content/feyman/__link/__sett/feynman__link__sett.css);
@import url(../blocks/content/kaufman/kaufman.css);
@import url(../blocks/content/kaufman/section-title/__sett_theme_dark/section-title__sett_theme_dark.css);
@import url(../blocks/content/kaufman/section-subtitle/__sett_theme_dark/section-subtitle__sett_theme_dark.css);
@import url(../blocks/content/kaufman/table_theme_dark/table_theme_dark.css);
@import url(../blocks/content/digits/table/__cell/_theme_dark/table__cell_theme_dark.css);
@import url(../blocks/content/digits/table/__heading/_theme_dark/table__heading_theme_dark.css);
@import url(../blocks/content/digits/table/__text/__subtitle/_theme_dark/table__text_theme_dark__subtitle.css);
@import url(../blocks/content/kaufman/__triangle/kaufman__triangle.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__column/footer__column.css);
@import url(../blocks/footer/__column/_content_copyright/footer__column_content_copyright.css);
@import url(../blocks/footer/__column/_content_info/footer__column_content_info.css);
@import url(../blocks/footer/__column/_content_social/footer__column_content_social.css);
@import url(../blocks/footer/__column/_content_copyright/logo_place_footer/logo_place_footer.css);
@import url(../blocks/footer/__author/footer__author.css);
@import url(../blocks/footer/__column/-heading/footer__column-heading.css);
@import url(../blocks/footer/__column/-heading/_text-sett/footer__column-heading_text-sett.css);
@import url(../blocks/footer/__column/-links/footer__column-links.css);
@import url(../blocks/footer/__column/-links/__sett/footer__column-links__sett.css);
@import url(../blocks/footer/__column/-links/__inline/footer__column-links__inline.css);
@import url(../blocks/footer/__social-icon/footer__social-icon.css);


/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
}

/* и элемента с модификатором вида ключ-значение */
/*.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}*/

.two-columns__paragraph_sec_two_span_text{
  font-weight: 600;
}

.table__cell:last-of-type{
  margin-right: 0;
}

.footer__column-heading{
  margin: 0 0 0 0;
}

.img__size{
  width: 16px;
  height: 16px;
}

.footer__column-link{
  padding-left: 10px;
  display: grid;
}